*{
    margin: 0;
    padding: 0;
    font-family: Candara, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header div{
    display: flex;
    width: 100%;
    height: 55vh;
    background-image: url(img/hOogFA.jpg);
    background-repeat: 1.5;
    justify-content: center;
    align-items: center;
}
header h1{
    display: flex;
    font-size: 18vh;
    color: rgb(119, 20, 155);
    -webkit-text-stroke: 2.5px rgb(219, 101, 248);
}
main{
    margin: 7.5vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
    font-family: arial nova, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main img{
    width: 90%;
    padding: 1.5vh;
    margin-left: 8vh;
    margin-bottom: 1.5vh;
}
main h1{
    color: rgb(83, 19, 143);
    font-size: 6vh;
}
main p{
    font-size: 2.8vh;
    text-indent: 10vh;
    text-align: justify;
    font-weight: 550;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
main p:first-of-type{
    text-indent: 0;
    margin-top: 0;
}
main section p:first-of-type{
    color: rgb(77, 17, 133);
    text-indent: 10vh;
}
main section p:last-of-type{
    color: rgb(74, 9, 90);
}
footer{
    background-color: rgb(212, 174, 255);
    width: 100%;
    height: 70vh;
    align-items: flex-end;
    display: flex;
}
footer section{
    background-color: lueviolet;
    width: 30%;
    height: 62vh;
    margin: 2.5vh;
    margin-bottom: 5vh;
}
footer section h1{
    padding: 1vh;
    padding-left: 0;
    font-size: 4.5vh;
    padding-bottom: 3vh;
    color: rgb(69, 13, 122);
}
footer section:first-of-type h1{
    color: rgb(55, 4, 85);
}
footer section:last-of-type h1{
    color: rgb(149, 25, 221);
}
footer section img{
    width: 54vh;
    height: 32vh;
}
footer section p{
    padding: 1vh;
    padding-left: 0;
    font-size: 2.5vh;
    text-align: justify;
    color: rgb(61, 11, 94);
}
footer section a{
    float: left;
    width: 18vh;
    height: 6vh;
    border-radius: 5vh;
    margin-top: 1.5vh;
    background-color: rgb(110, 17, 146);
    text-decoration: none;
}
footer section a h4{
    color: white;
    font-size: 3.5vh;
    text-align: center;
    padding-top: 0.5vh;
}
footer section:first-of-type{
    margin-right: 1vh;
    margin-left: 8vh;
}
footer section:last-of-type{
    margin-right: 1vh;
    margin-left: 1vh;
}
footer section:last-of-type a{
    background-color: rgb(149, 25, 221);
}
footer section:first-of-type a{
    background-color: rgb(61, 11, 94) ;
}
footer section:last-of-type p{
    color: rgb(153, 87, 214);
}
footer section:first-of-type p{
    color: rgb(119, 47, 148);
}